/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(222, 228, 233);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    width: 870px;
    padding-left: 60px;
    margin-top: 30px;
    border-radius: 5px;
}
.section-title{
    color: rgb(94, 94, 248);
    font-size: 24px;
  
   
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
   
}
/* .player */
.player{
    display: flex;
    align-items: center;
   
}
/* player img */
.player img{
    height: 56px;
    width: 56px;
  
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid gray;
    margin-right: 30px;
  
}
/* vlogs style */
.vlogs{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    margin-bottom: 40px;
}
.my-vlogs{
    color:rgb(73, 73, 175)
}
.blog{
    display: flex;
}

.blog .thumbnail img{
    height: 177px;
    width: 177px;
}
.vlog-info{
    margin-left: 16px;
}
.title{
    font-size: 20px;
}
.blog-author{
    
    color: rgba(151, 151, 241, 0.904);
    font-size: 16px;

}
.blog-author a{
    color: rgb(61, 61, 245);
    text-decoration: none;
    font-size: 16px;

}
/* courses-style */
.courses .course-banner img{
    height:104px;
    width: 224px;
}
.courses-title{
    margin-bottom: 5px;
}
.course-author{
    color: coral;
   
}




